//Colors
blackColor = #222
whiteColor = #fefefe
greyColor = #666
redColor = #ff4000


//Mixins
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	transition arguments


//Main Styles
@font-face
	font-family "CronosRegular"
	src url(/fonts/cronos_display-webfont.eot)
	src url(/fonts/cronos_display-webfont.eot?#iefix) format("embedded-opentype"),
		url(/fonts/cronos_display-webfont.woff) format("woff"),
		url(/fonts/cronos_display-webfont.ttf) format("truetype"),
		url(/fonts/cronos_display-webfont.svg#CronosRegular) format("svg")
	font-weight normal
	font-style normal

body
	font-size 62.5%
	font-family "CronosRegular", Helvetica, Arial, sans-serif
	color blackColor
	background whiteColor url(/images/assets/bg.jpg) top no-repeat
	background-size cover
	&.map
		background-image none
	
::-moz-selection
	background blackColor
::selection
	background blackColor
	
a:link, a:visited, a:active
	color redColor
	text-decoration none
a:hover
	text-decoration underline
a:focus
	outline none

button
	display block
	-moz-appearance: none
	padding 5px 10px
	font-size 1.3em
	color whiteColor
	border none
	border-radius(3px)
	background blackColor
	&.active
		background-color redColor

//Main Header
.main_header
	position absolute
	top 0
	left 0
	right 0
	height 32px
	color blackColor
	box-shadow(0 0 7px blackColor)
	background whiteColor
	z-index 1000
	h1
		text-align center
		margin 0
		font-size 2.3em
		font-weight normal

.main_nav
	position absolute
	left 1.5em
	top 0
	h1
		margin 0 .5em
		font-size 1.7em
		line-height 32px
		padding-right 20px
		background url(/images/assets/sprite.png) no-repeat 70px 13px
		a
			color blackColor
	ul
		position absolute
		display none
		width 100%
		top 32px
		opacity 0
		transition(opacity .3s ease-in-out)
	li
		a
			display block
			padding .2em .5em
			border-bottom 1px solid greyColor
			font-size 1.5em
			text-align center
			color whiteColor
			background blackColor
			&:hover
				text-decoration none
				background redColor
		&:last-child a
			border-bottom 0
	&:hover	ul
		display block
		opacity 1
		transition(opacity .3s ease-in-out)

.tools_nav
	position absolute
	top 4px
	right 2em
	button
		float left
		margin-left 5px

.tools_map
	position absolute
	display none
	top 30%
	right 2em
	z-index 2000
	.icon
		width 100%
		height 30px
		padding-left 35px
		margin-top 5px
		background blackColor url(/images/assets/sprite.png) no-repeat
		box-shadow(0 0 5px blackColor)
		&:hover
			background-color redColor
	#ram
		border-left 3px solid magenta
		background-position 0 -20px		
	#ballista
		border-left 3px solid yellow
		background-position 0 -90px
	#catapult
		border-left 3px solid orange
		background-position 0 -55px		
	#arrow
		border-left 3px solid cyan
		background-position 0 -125px		
	#trebuchet
		border-left 3px solid red
		background-position 0 -160px


//Main Content
.full_map
	position absolute
	top 32px
	left 0
	width 100%
	height 100%
	#cartodb_logo
		z-index 1400

.draw_canvas
	position absolute
	display none
	top 32px
	left 0
	background url(/images/assets/bg_canvas.png)
	z-index 1500


//Main Footer
.main_footer
	position absolute
	right 0
	left 0
	bottom 0
	font-size 1.3em
	text-align center
	color whiteColor
	z-index 1000
	p
		position absolute
		left 47%
		bottom 0
		margin .5em 0
	a
		color whiteColor
		text-shadow 1px 1px 3px blackColor


//Home
.home
	.main_header
		display none
	.welcome
		position relative
		top 150px
		left 50px
		width 35%
		min-height 400px
		ul
			margin 2.5em 0
			padding-left 30px
			list-style disc
		li a
			font-size 1.7em
		.big
			font-size 3.5em
			margin 0
		p
			font-size 2.1em
			margin .2em 0
		footer
			p
				font-size 1.5em
	.main_footer
		a
			color blackColor
			text-shadow 1px 1px 3px whiteColor


//Helpers
.disclaimer
	position absolute
	top 45%
	left 50%
	width 300px
	margin-left -150px
	padding .2em .7em
	color whiteColor
	background blackColor