extends layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/home.css")

block navigation

block content
	nav(class="home_nav")
		ul
			li 
				a(href="/wvw") Mapa de Mundo contra Mundo (WvW)
	div(class="layer1")
	div(class="layer2")

block javascripts
	script(src="/javascripts/home.js")