extends layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/home.css")

block navigation

block content
	nav(class="home_nav")
		ul
			li 
				a(href="/wvw") #{lingua.wvw}
	div(class="layer1")
	div(class="layer2")

block javascripts
	script(src="socket.io/socket.io.js")
	script(src="/javascripts/home.js")