extends layout

block header
	

block content
	article(class="welcome")
		header
			h1(class="big")= title
			p Aplicaciones web para Guild Wars 2.
		
		nav(class="home_nav")
		ul
			li
				a(href="/wvw") Mapa WvW
		footer
			p Seguimos desarrollando más herramientas y mejorando las que ya hay.<br> Podéis  
				a(href="mailto:undakel@gmail.com") enviarnos  
				| vuestros comentarios.