extends layout

block header
	

block content
	article(class="welcome")
		header
			h1(class="big")= title
			p Aplicaciones web para Guild Wars 2.
		
		nav(class="home_nav")
		ul
			li
				a(href="/wvw") Mapa WvW
		footer
			p Seguimos desarrollando más herramientas y mejorando las que ya hay.<br> Podéis  
				a(href="mailto:undakel@gmail.com") enviarnos  
				| vuestros comentarios.
			
			p(class="tooltip_licence")
				a(rel="license", href="http://creativecommons.org/licenses/by-nc/3.0/", target="_blank")
					img(src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png", alt="Creative Commons License")
					br
					span(xmlns:dct="http://purl.org/dc/terms/", href="http://purl.org/dc/dcmitype/InteractiveResource", property="dct:title", rel="dct:type") GW2 App 
						a(xmlns:cc="http://creativecommons.org/ns#", href="http://www.davidsingal.com", target="_blank") David Inga
						| , 
						a(xmlns:cc="http://creativecommons.org/ns#", href="http://www.alicitita.com", target="_blank") Alicia Arenzana
						|  is licensed under a 
						a(rel="license", href="http://creativecommons.org/licenses/by-nc/3.0/", target="_blank") Creative Commons Attribution-NonCommercial 3.0 Unported License