html!!!
head
	title GW2App
	link(rel="stylesheet", href="/css/normalize.css")
	link(rel="stylesheet", href="/css/foundation.css")
body
	div(class="row")
		div(class="large-12 columns")
			div(id="eventList")

	script(src="/js/vendor/jquery.js")
	script(src="/js/vendor/underscore.js")
	script(src="/js/vendor/backbone.js")
	script(src="/js/vendor/foundation.js")

	script(src="/js/models/events.js")
	script(src="/js/models/names.js")
	script(src="/js/models/maps.js")

	script(src="/js/views/event_list.js")

	script(src="/js/main.js")