html,
button,
input,
select,
textarea {
  color: #111;
}
body {
  font-size: 1em;
  line-height: 1.4;
  background: #fcfcfc;
}
nav ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
a,
a:link,
a:visited {
  color: #111;
  text-decoration: none;
}
.main_header {
  padding: 0.5em 1em;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#000));
  background-image: -webkit-linear-gradient(top, #222, #000);
  background-image: -moz-linear-gradient(top, #222, #000);
  background-image: -o-linear-gradient(top, #222, #000);
  background-image: -ms-linear-gradient(top, #222, #000);
  background-image: linear-gradient(top, #222, #000);
}
.main_header a {
  color: #fcfcfc;
}
.logo {
  float: left;
  font-size: 1em;
  margin: 0;
}
.logo a {
  display: block;
}
.main_nav {
  float: right;
}
.main_content {
  position: absolute;
  top: 2.4em;
  left: 0;
  right: 0;
  bottom: 1.52em;
  background: #f6f6f6;
}
.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main_footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.2em 1em;
  border-top: 1px solid #ccc;
}
.main_footer p {
  margin: 0;
  font-size: 0.8em;
  text-align: center;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
