/* CartoDB popup */
.cartodb-popup {position:absolute; display:block; margin: 0 0 0 -13px; padding:0; -webkit-transform: translateZ(10000px);/*Hack for Safari*/}
.cartodb-popup-tip-container {height: 15px; background: url(../images/assets/bg_infowindow.png) 41px 0 no-repeat;}
.cartodb-popup-close-button {position: absolute; right: 5px; top: 0; color: #333; font-size: 15px;}
.cartodb-popup-close-button:hover {text-decoration: none;}
.cartodb-popup-content {width: 150px !important; padding: 10px 15px; background: #fcfcfc;}
.cartodb-popup-content p {font-size: 15px; line-height: 1.1; margin: .2em 0;}
.cartodb-popup-content .score {color: #f00;}
.cartodb-popup-content .descrip {font-size: 13px;}

.leaflet-left {left: 2%; top: 100px;}
.leaflet-top .leaflet-control {margin-left: 0;}