@font-face{font-family:"CronosRegular";src:url("/fonts/cronos_display-webfont.eot");src:url("/fonts/cronos_display-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/cronos_display-webfont.woff") format("woff"),url("/fonts/cronos_display-webfont.ttf") format("truetype"),url("/fonts/cronos_display-webfont.svg#CronosRegular") format("svg");font-weight:normal;font-style:normal}
body{font-size:62.5%;font-family:"CronosRegular",Helvetica,Arial,sans-serif;color:#222;background:#222}
a:link,a:visited,a:active{color:#ff4000;text-decoration:none}
a:hover{text-decoration:underline}
a:focus{outline:none}
.main_header{position:absolute;top:0;left:0;right:0;height:32px;color:#222;-webkit-box-shadow:0 0 5px #222;-moz-box-shadow:0 0 5px #222;box-shadow:0 0 5px #222;background:#fefefe;z-index:1000;}
.main_header h1{text-align:center;margin:0;font-size:2.3em;font-weight:normal}
.main_nav{position:absolute;left:1.5em;top:0;}
.main_nav h1{margin:0 .5em;font-size:1.7em;line-height:32px;padding-right:20px;background:url("/images/assets/sprite.png") no-repeat right;}
.main_nav h1 a{color:#222}
.main_nav ul{position:absolute;display:none;width:100%;top:32px;opacity:0;-webkit-transition:opacity .3s ease-in-out;-moz-transition:opacity .3s ease-in-out;transition:opacity .3s ease-in-out}
.main_nav li a{display:block;padding:.2em .5em;border-bottom:1px solid #666;font-size:1.5em;text-align:center;color:#fefefe;background:#222;}
.main_nav li a:hover{text-decoration:none;background:#ff4000}
.main_nav li:last-child a{border-bottom:0}
.main_nav:hover ul{display:block;opacity:1;-webkit-transition:opacity .3s ease-in-out;-moz-transition:opacity .3s ease-in-out;transition:opacity .3s ease-in-out}
.full_map,.draw_canvas{position:absolute;top:32px;left:0;width:100%;height:100%}
.draw_canvas{background:url("/images/assets/bg_canvas.png");z-index:1500}
.main_footer{position:absolute;right:0;left:0;bottom:0;font-size:1.3em;text-align:center;color:#fefefe;z-index:1000;}
.main_footer p{margin:.5em 0}
.main_footer a{color:#fefefe;text-shadow:0 0 3px #222}
.disclaimer{position:absolute;top:45%;left:50%;width:300px;margin-left:-150px;padding:.2em .7em;color:#fefefe;background:#222}
