body {background: #fefefe url(/images/assets/loading.gif) no-repeat center center;}

button {display: block; -moz-appearance: none; padding: 5px 10px; color: #fefefe; text-shadow: 0 0 3px #000; text-align: left; font-weight: bold; border: 1px solid #000; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #222;}
button.active, button:hover {background-color: #dc241f;}

.main_nav {position: absolute; display: none; left: 30px; top: 10px; z-index: 2000;}

.nav_tools {position: absolute; top: 12px; right: 2%; z-index: 2000;}
.nav_tools button {float: left; margin-left: 5px;}
.nav_tools button:hover {background: #dc241f;}

.tools {position: absolute; display: none; top: 30%; z-index: 2000;}
.tools.draw {left: 2%;}
.tools.siege_weapons {right: 2%;}
.tools button {width: 100%; margin-top: 5px;}

.siege_weapons .icon {padding-left: 35px; background-image: url(/images/assets/sprite.png); background-repeat: no-repeat;}
.siege_weapons #ram {border-left: 5px solid #f0f; background-position: 0 -60px;}
.siege_weapons #ballista {border-left: 5px solid #ff0; background-position: 0 -90px;}
.siege_weapons #catapult {border-left: 5px solid #ffa500; background-position: 0 -150px;}
.siege_weapons #arrow {border-left: 5px solid #0ff; background-position: 0 -120px;}
.siege_weapons #trebuchet {border-left: 5px solid #f00; background-position: 0 -180px;}

.draw .icon {padding-left: 25px; background-image: url(/images/assets/sprite.png); background-repeat: no-repeat;}
.draw .icon.active {background-color: #dc241f;}
.draw #paint {background-position: 0 -240px;}
.draw #erase {background-position: 0 -360px;}
.draw #clear {background-position: 0 -270px;}

.color_nav {margin: 10px 0 0 0; padding: 0;}
.color_nav .color {float: left; width: 15px; height: 15px; padding: 0; margin-top: 0; margin-right: 4px; text-indent: -9999px;}
.color_nav .color.last {margin-right: 0;}
.color_nav .icon {float: left; width: 27px; height: 27px; padding: 0; margin-right: 5px; text-indent: -9999px;}
.color#red {background-color: red;}
.color#cyan {background-color: cyan;}
.color#yellow {background-color: yellow;}
.color#magenta {background-color: magenta;}
.color#white {background-color: white;}
.color#black {background-color: black;}

.full_map {position: absolute; left: 0; width: 100%; height: 100%;}
.full_map #cartodb_logo {z-index: 1400;}

.draw_canvas {position: absolute; display: none; left: 0; background: url(/images/assets/bg_canvas.png); z-index: 1500; cursor: pointer;}

.main_footer a {color: #fefefe; text-shadow: 1px 1px 3px #222;}


/* CartoDB popup */
.cartodb-popup {position:absolute; display:block; margin: 0 0 0 -13px; padding:0; -webkit-transform: translateZ(10000px);/*Hack for Safari*/}
.cartodb-popup-tip-container {height: 15px; background: url(/images/assets/bg_infowindow.png) 41px 0 no-repeat;}
.cartodb-popup-close-button {position: absolute; right: -10px; top: -10px; width: 20px; height: 20px; color: transparent; text-indent: -9999px; font-size: 15px; background: url(/images/assets/sprite.png) no-repeat 0 -210px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.cartodb-popup-close-button:hover {-webkit-box-shadow: 0 0 3px #000; -moz-box-shadow: 0 0 3px #000; box-shadow: 0 0 3px #000;}
.cartodb-popup-content {width: 150px !important; padding: 10px 15px; background: #fcfcfc;}
.cartodb-popup-content p {font-size: 15px; line-height: 1.1; margin: .2em 0;}
.cartodb-popup-content .score {color: #f00;}
.cartodb-popup-content .descrip {font-size: 13px;}

.leaflet-left {left: 2%; top: 100px;}
.leaflet-top .leaflet-control {margin-left: 0;}