lightRedColor = #ef0c12
redColor = #dc241f
blackRedColor = #530406

sprite(x, y)
	background url(/images/assets/sprite.png) no-repeat x y

transition()
	-webkit-transition arguments
	-moz-transition arguments
	transition arguments

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments


body
	min-width 320px
	font-size 62.5%
	font-family "Droid Sans", Helvetica, Arial, sans-serif
	
::-moz-selection
	background-color redColor
::selection
	background-color redColor

a:link, a:visited, a:active
	color #333
	text-decoration none
a:hover
	color redColor
	text-decoration underline
a:focus
	outline none
	
.logo
	position absolute
	width 110px
	height 26px
	margin 0
	top 10px
	left 20px
	z-index 5
	a
		display block
		width 100%
		height 100%
		color transparent
		text-indent -9999px
		sprite(0, -20px)
		
.lang_nav
	position absolute
	top 10px
	right 20px
	margin 0
	list-style none
	z-index 5
	li
		display inline
	a
		float left
		display block
		margin-left 10px
		font-size 1.2em
		
.home_nav
	position absolute
	top 30%
	left 50%
	margin-left -140px
	z-index 3
	a
		display block
		width 280px
		padding 12px 10px
		text-align center
		color white
		font-size 1.4em
		text-shadow 2px 2px 0 black
		background #333
		border-radius(4px)
		&:hover
			text-decoration none
			background-color redColor
			text-shadow 0 0 20px blackRedColor
			transition(all .3s ease-in-out)
			
.main_content
	position absolute
	width 100%
	height 100%
	background url(/images/home/norn-bg.jpg) no-repeat bottom
	background-size 100%
	overflow hidden
	.layer1
		position absolute
		width 100%
		height 30%
		bottom -30%
		background url(/images/home/norn-2.png) no-repeat bottom
		background-size 100%
		z-index 2
		&.active
			bottom 0
			transition(bottom 1s ease-in-out .3s)
	.layer2
		position absolute
		right -500px
		bottom 0
		width 500px
		height 400px
		background url(/images/home/norn-1.png) no-repeat top
		background-size 100%
		z-index 1
		&.active
			right 0
			transition(right .7s ease-in-out .7s)
		
.main_footer
	position absolute
	bottom 0
	width 100%
	text-align center
	color #eee
	z-index 5
	a
		font-size 1.2em
		color #eee
		text-shadow 0 0 5px #333