//Colors
blackColor = #222
whiteColor = #fefefe
greyColor = #666
redColor = #dc241f
blackRedColor = #530406


//Mixins
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	transition arguments

sprite(x, y)
	background url(/images/assets/sprite.png) no-repeat x y


//Main Styles
body
	font-size 62.5%
	font-family Helvetica, Arial, sans-serif
	color blackColor
	background whiteColor url(/images/assets/bg.jpg) top no-repeat
	background-size cover
	&.map
		background-image none
	
::-moz-selection
	background blackColor
::selection
	background blackColor
	
a:link, a:visited, a:active
	color redColor
	text-decoration none
a:hover
	text-decoration underline
a:focus
	outline none

button
	display block
	-moz-appearance: none
	padding 5px 10px
	font-size 1.3em
	color whiteColor
	border none
	border-radius(3px)
	background blackColor
	&.active
		background-color redColor
		transition(all .3s ease-in-out)

//Main Header
.main_header	
	h1
		text-align center
		margin 0
		font-size 2.3em
		font-weight normal

.logo
	position absolute
	top 5px
	left 15px
	width 110px
	height 30px
	margin 0	
	z-index 2000
	a
		display block
		width 100%
		height 100%
		color transparent
		text-indent -9999px
		sprite(0px, -45px)

.main_nav
	position absolute
	display none
	left 30px
	top 10px
	z-index 2000

.lang_nav
	position absolute
	display none //Temporal
	top 10px
	right 15px
	margin 0
	list-style none
	z-index 5
	li
		display inline
	a
		float left
		display block
		margin-left 10px
		font-size 1.2em

.tools_nav
	position absolute
	top 10px
	right 20px
	z-index 2000
	button
		float left
		margin-left 5px
		&:hover
			background redColor
			transition(all .3s ease-in-out)

.tools_map
	position absolute
	display none
	top 30%
	right 2em
	z-index 2000
	.icon
		width 100%
		height 30px
		padding-left 35px
		margin-top 5px
		background blackColor url(/images/assets/sprite.png) no-repeat
		box-shadow(0 0 5px blackColor)
		&:hover
			background-color redColor
	#ram
		border-left 3px solid magenta
		background-position -5px -80px		
	#ballista
		border-left 3px solid yellow
		background-position -5px -115px
	#catapult
		border-left 3px solid orange
		background-position -5px -185px		
	#arrow
		border-left 3px solid cyan
		background-position -5px -150px		
	#trebuchet
		border-left 3px solid red
		background-position -5px -220px


//Main Content
.full_map
	position absolute
	left 0
	width 100%
	height 100%
	#cartodb_logo
		z-index 1400

.draw_canvas
	position absolute
	display none
	left 0
	background url(/images/assets/bg_canvas.png)
	z-index 1500


//Main Footer
.main_footer
	position absolute
	right 0
	left 0
	bottom 0
	font-size 1.3em
	text-align center
	color whiteColor
	z-index 1000
	p
		position absolute
		left 47%
		bottom 0
		margin .5em 0
	a
		color whiteColor
		text-shadow 1px 1px 3px blackColor
