extends layout

block stylesheets
	link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css")
	link(rel="stylesheet", href="/stylesheets/main.css")

block header
	header(class="main_header")
			div(class="brand_area")
				a(href="/")
					img(src="/images/assets/logo-gw2app.png")
			div(class="title_area")
				h1 Eventos destacados en 
					span(id="worldName") Bahía de Baruch [ES]
				button(id="changeWorldBtn") +
			div(class="sub_nav")
				ul
					li
						a(href="https://github.com/davidsingal/gw2app/", target="_blank") Github

block main
	div(class="main_content")
		div(class="world_selector", id="worldSelector")
		section(class="map_section")
			div(class="map", id="map")

block javascripts
	script(src="/javascripts/vendor/leaflet.js")
	script(src="/javascripts/vendor/underscore.js")
	script(src="/javascripts/vendor/backbone.js")

	script(src="/javascripts/models/event_names.js")
	script(src="/javascripts/models/map_names.js")
	script(src="/javascripts/models/world_names.js")
	script(src="/javascripts/models/high_events.js")
	script(src="/javascripts/models/events.js")

	script(src="/javascripts/views/map.js")
	script(src="/javascripts/views/world.js")

	script(src="/javascripts/main.js")