extends templates/layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/home.css")

block content
	div(class="layer1")
	div(class="layer2")
	
block javascripts
	script(src="/javascripts/home.js")